/* SPDX-License-Identifier: CC-BY-4.0 */
/* Copyright Contributors to the ODPi Egeria project. */

:root {
    --goreleaser-primary-color:   #3b5672;
    --md-primary-fg-color:        #48abb8;
    --md-primary-fg-color--light: #48abb8;
    --md-primary-fg-color--dark:  #48abb8;
    --md-accent-fg-color:         #1a3961;
}